# Platzi Fake Store API Base URL
NEXT_PUBLIC_API_URL=https://api.escuelajs.co/api/v1

# Categories endpoint (for reference)
NEXT_PUBLIC_CATEGORIES_URL=https://api.escuelajs.co/api/v1/categories

NODE_ENV=development
